.carousel-slide {
    display: inline;
    padding-right: 1%;
    position: relative;
}
.product-image {
    width: 100%;
    border-radius: 23px;
}
.active-product {
    transform: scale(1.1);
}
.product-name {

}
.product-price {
    
}