mi

.carousel-container {
    display: block;
    width: 100%;
    top: 10%;
}
.carousel-slides {
    display: flex;
    margin-left: 3%;
}
.category-selector {
    display: block;
    margin-bottom: 1%;
}
.button-left {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 33.5%;
    cursor: pointer;
    z-index: 10;
}
.button-right {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    top: 33.5%;
    left: 92%;
    cursor: pointer;
    z-index: 10;
}
.button-right:focus {
    outline: none;
}
.button-left:focus {
    outline: none;
}